body {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "navbar navbar"
    "asside-bar main"
    "footer footer";
}
.navbar {
  grid-area: navbar;
  text-align: center;
  background-color: aqua;
}
.grid {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
}
.item {
  border: 1px solid black;
  padding: 3%;
  text-align: center;
}
.footer {
  grid-area: footer;
  background-color: red;
  text-align: center;
}
