
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1,h2,h3,p{
  margin: 2%;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 100vh auto;
  grid-template-areas:
    "header header"
    "asside-bar main"
    "footer footer";
}
.navbar {
  grid-area: header;
  text-align: center;
  background-color: green;
  color: white;
}
.grid {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 20% 1%;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.asside-bar{
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.pie {
  grid-area: footer;
  background-color: green;
  color: white;
  text-align: center;
  margin-top: 5rem;
}
ul{
  list-style: none;
}
img{
  width: 70%;
  height: 100%;
  padding: 5%;
}
button{
  width: 80%;
  padding: 10px;
  background-color: green;
  color: white;
  margin-top: 20px;
  border: none;
}