body {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "header header"
    "asside-bar main"
    "footer footer";
}
.navbar {
  grid-area: header;
  text-align: center;
  background-color: aqua;
  height: 100px;
}
.grid {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 10% 2%;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.footer {
  grid-area: footer;
  background-color: red;
  text-align: center;
  height: 60px;
}
.asside-bar{
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin-top: 70px;
}
ul{
  list-style: none;
}
img{
  width: 80%;
  padding: 5%;
}
h1,h3,p{
  margin: 2%;
}
main{
  margin-top: 70px;
  margin-bottom: 100px;
}